.main{
	border: solid;
	border-color: grey;
	margin-top: 20px;
}

.output{
	background-color: grey;
	display: flex;
	flex-direction: row-reverse;
	padding-right: 10px;
}

#display{
	color: white;
}

.color{
	background-color: gainsboro;
	border: solid;
	border-width: thin;
	border-color: grey;
	text-align: center;
}

.symbols{
	background-color: orange;
	color: white;
	text-align: center;
	border: solid;
	border-width: thin;
	border-color: grey;
}

